<h1>Exploratory Data Analysis</h1>

<h3>Initial Setup</h3>

In [1]:
import pandas as pd
from sqlalchemy import create_engine

database_name = 'scooters'    # Fill this in with your scooter database name
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

engine = create_engine(connection_string)

<b>Loading a few records into dataframes for exploration purposes.</b>

In [2]:
# Limiting Scooters to 1 million rows for now
scooters_df = pd.read_sql_query('SELECT * FROM scooters limit 1000000', con=engine)
trips_df = pd.read_sql_query('SELECT * FROM trips', con=engine)

<h3>Are there any null values in any columns in either table?</h3>

In [3]:
trips_null_query = '''
select count(*)
from trips
where not (trips is not null);
'''

trips_null_result = engine.execute(trips_null_query).fetchone()

scooters_null_query = '''
select count(*)
from scooters
where not (scooters is not null);
'''

scooters_null_result = engine.execute(scooters_null_query).fetchone()

print(f'Number of records in trips with at least one null value: {trips_null_result[0]}')
print(f'Number of records in scooters with at least one null value: {scooters_null_result[0]}')

Number of records in trips with at least one null value: 0
Number of records in scooters with at least one null value: 770

<h3>What date range is represented in each of the date columns? Investigate any values that seem odd.</h3>

In [4]:
print(scooters_df.head())
print(scooters_df.info())
print(trips_df.head())
print(trips_df.info())

              pubdatetime   latitude  longitude      sumdid sumdtype
0 2019-05-02 18:16:23.720  36.121455 -86.770238  Powered613  Powered  \
1 2019-05-02 18:16:23.720  36.121291 -86.770135  Powered654  Powered
2 2019-05-02 18:16:23.720  36.121332 -86.770235  Powered330  Powered
3 2019-05-02 18:16:23.720  36.146667 -86.792587  Powered828  Powered
4 2019-05-02 18:16:23.720  36.150358 -86.815588  Powered817  Powered

   chargelevel sumdgroup  costpermin companyname
0          2.0   Scooter         0.0      Gotcha
1          0.0   Scooter         0.0      Gotcha
2         54.0   Scooter         0.0      Gotcha
3         91.0   Scooter         0.0      Gotcha
4         84.0   Scooter         0.0      Gotcha
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   pubdatetime  1000000 non-null  datetime64[ns]
 1   latitude     1000000 non-null  float64
 2   longitude    1000000 non-null  float64
 3   sumdid       1000000 non-null  object
 4   sumdtype     1000000 non-null  object
 5   chargelevel  1000000 non-null  float64
 6   sumdgroup    1000000 non-null  object
 7   costpermin   1000000 non-null  float64
 8   companyname  1000000 non-null  object
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 68.7+ MB
None
             pubtimestamp companyname triprecordnum         sumdid
0 2019-05-01 00:00:55.423        Bird       BRD2134   Powered9EAJL  \
1 2019-05-01 00:03:33.147        Lyft          LFT5  Powered296631
2 2019-05-01 00:05:55.570        Bird       BRD2168   Powered7S2UU
3 2019-05-01 00:05:55.570        Bird       BRD2166   PoweredZIIVX
4 2019-05-01 00:05:55.570        Bird       BRD2165   PoweredJ7MB3

   tripduration  tripdistance   startdate        starttime     enddate
0        3.0000     958.00528  2019-05-01  00:00:20.460000  2019-05-01  \
1        1.7156    1371.39112  2019-05-01  00:01:50.090000  2019-05-01
2        3.0000    2296.58800  2019-05-01  00:03:47.363333  2019-05-01
3        3.0000    1200.78744  2019-05-01  00:04:21.386666  2019-05-01
4        2.0000     351.04988  2019-05-01  00:04:27.796666  2019-05-01

           endtime  startlatitude  startlongitude  endlatitude  endlongitude
0  00:02:52.346666       36.15710       -86.80360     36.15660     -86.80670  \
1  00:03:33.026666       36.15797       -86.77896     36.16054     -86.77689
2  00:07:13.596666       36.15470       -86.78180     36.15650     -86.78680
3  00:06:59.176666       36.14940       -86.77950     36.15310     -86.77960
4  00:06:23.150000       36.17780       -86.78660     36.17740     -86.78760

                                           triproute               create_dt
0  [(36.157235, -86.803612), (36.157235, -86.8036... 2019-05-02 05:30:23.780
1  [(36.15797, -86.77896), (36.15795, -86.77873),... 2019-05-02 07:20:32.757
2  [(36.155068, -86.782124), (36.156597, -86.78675)] 2019-05-02 05:30:24.530
3  [(36.149741, -86.779344), (36.149741, -86.7793... 2019-05-02 05:30:24.237
4  [(36.177699, -86.786477), (36.177711, -86.7864... 2019-05-02 05:30:24.207
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565522 entries, 0 to 565521
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubtimestamp    565522 non-null  datetime64[ns]
 1   companyname     565522 non-null  object
 2   triprecordnum   565522 non-null  object
 3   sumdid          565522 non-null  object
 4   tripduration    565522 non-null  float64
 5   tripdistance    565522 non-null  float64
 6   startdate       565522 non-null  object
 7   starttime       565522 non-null  object
 8   enddate         565522 non-null  object
 9   endtime         565522 non-null  object
 10  startlatitude   565522 non-null  float64
 11  startlongitude  565522 non-null  float64
 12  endlatitude     565522 non-null  float64
 13  endlongitude    565522 non-null  float64
 14  triproute       565522 non-null  object
 15  create_dt       565522 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(8)
memory usage: 69.0+ MB
None

* In the `trips` table, `startdate`, `enddate`, `starttime`, and `endtime` all seem to be objects.  I am not sure if this will cause issues down the line yet.

* The times are in 24 hour format - which is much easier to work with.

<h3>What values are there in the sumdgroup column? Are there any that are not of interest for this project?</h3>

In [5]:
print(scooters_df['sumdgroup'].unique())

['Scooter' 'scooter' 'bicycle']

* It appears we can ignore `bicycle`.

<h3>What are the minimum and maximum values for all the latitude and longitude columns? Do these ranges make sense, or is there anything surprising? -What is the range of values for trip duration and trip distance? Do these values make sense? Explore values that might seem questionable.</h3>

In [6]:
# Getting the minimum and maximum values for the latitude and longitude columns
print('Latitude min:', scooters_df['latitude'].min())
print('Latitude max:', scooters_df['latitude'].max())
print('Longitude min:', scooters_df['longitude'].min())
print('Longitude min:', scooters_df['longitude'].max())

print('------------------')

# Getting the range of values for trip duration and trip distance
print('Trip Duration min:', trips_df['tripduration'].min())
print('Trip Duration max:', trips_df['tripduration'].max())
print('Trip Distance min:', trips_df['tripdistance'].min())
print('Trip Distance max:', trips_df['tripdistance'].max())

Latitude min: 0.0
Latitude max: 36.278748
Longitude min: -86.923469
Longitude min: 0.0
------------------
Trip Duration min: -19.3582666667
Trip Duration max: 512619.0
Trip Distance min: -20324803.8
Trip Distance max: 31884482.6476

The negative trip duration is confusing. How can someone take trip that resulted in negative minutes?

In [7]:
# Getting the negative values for trip duration
negative_trip_duration_df = trips_df[trips_df['tripduration'] < 0]

# Dropping unnecessary columns for readability
negative_trip_duration_df = negative_trip_duration_df.drop(['startlatitude', 'endlatitude', 'startlongitude', 'endlongitude', 'triproute'], axis=1)

print(negative_trip_duration_df)

                  pubtimestamp companyname triprecordnum         sumdid
377940 2019-06-21 21:44:53.863        Lyft       LFT1318  Powered220544  \
378418 2019-06-21 22:35:30.390        Lyft       LFT1435  Powered041891
509346 2019-07-18 23:56:13.233        Lyft        LFT864  Powered863342
509490 2019-07-19 00:01:24.063        Lyft          LFT2  Powered859498
509511 2019-07-19 00:06:02.050        Lyft          LFT7  Powered895717
509514 2019-07-19 00:07:18.803        Lyft         LFT10  Powered767853
509538 2019-07-19 00:12:05.363        Lyft         LFT18  Powered863342
509544 2019-07-19 00:14:02.297        Lyft         LFT21  Powered853770

        tripduration  tripdistance   startdate        starttime     enddate
377940     -8.003717    3484.25208  2019-06-21  21:32:09.170000  2019-06-21  \
378418     -1.359867    3166.01060  2019-06-21  22:23:01.316666  2019-06-21
509346     -0.715917    2214.56700  2019-07-18  23:50:34.650000  2019-07-18
509490    -10.242417      52.49344  2019-07-18  23:59:35.683333  2019-07-18
509511     -0.501317    3799.21272  2019-07-18  23:49:45.476666  2019-07-18
509514     -4.618833    3061.02372  2019-07-18  23:53:53.926666  2019-07-18
509538    -10.975100    3641.73240  2019-07-19  00:00:24.016666  2019-07-18
509544    -19.358267    4540.68256  2019-07-19  00:09:04.506666  2019-07-18

                endtime               create_dt
377940  21:24:08.946666 2019-06-22 08:31:51.090
378418  22:21:39.726666 2019-06-22 08:31:56.090
509346  23:49:51.693333 2019-07-19 10:49:30.810
509490  23:49:21.136666 2019-07-20 10:52:39.020
509511  23:49:15.396666 2019-07-20 10:52:39.223
509514  23:49:16.796666 2019-07-20 10:52:39.343
509538  23:49:25.513333 2019-07-20 10:52:39.657
509544  23:49:43.013333 2019-07-20 10:52:39.737

* It seems that we have a few rows of obvious bad data. This makes a case where we can ignore these records.

<h3>Check out how the values for the company name column in the scooters table compare to those of the trips table. What do you notice?</h3>

In [11]:
scooters_company_names_query = '''
select distinct companyname
from scooters;
'''

scooters_company_names_result = engine.execute(scooters_company_names_query).fetchall()

print(scooters_company_names_result)

trips_company_names_query = '''
select distinct companyname
from trips;
'''

trips_company_names_result = engine.execute(trips_company_names_query).fetchall()

print(trips_company_names_result)

[('Bird',), ('Bolt',), ('Gotcha',), ('Jump',), ('Lime',), ('Lyft',), ('Spin',)]
[('Bird',), ('Bolt Mobility',), ('Gotcha',), ('JUMP',), ('Lime',), ('Lyft',), ('SPIN',)]

* The company names are not all the same, but are similar enough with some data scrubbing to be 1-to-1.