In [11]:
import sqlalchemy

In [12]:
import pandas as pd

In [13]:
import psycopg2

In [14]:
from sqlalchemy import create_engine

In [15]:
database_name = 'scooters' 
connection_string=f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [16]:
engine = create_engine(connection_string)

In [27]:
query='''
SELECT *
FROM scooters
LIMIT 10
'''
df=pd.read_sql_query(query, engine)

In [18]:
print(df)

              pubdatetime   latitude  longitude        sumdid sumdtype  \
0 2019-05-01 00:01:41.247  36.136822 -86.799877  PoweredLIRL1  Powered
1 2019-05-01 00:01:41.247  36.191252 -86.772945  PoweredXWRWC  Powered
2 2019-05-01 00:01:41.247  36.144752 -86.806293  PoweredMEJEH  Powered
3 2019-05-01 00:01:41.247  36.162056 -86.774688  Powered1A7TC  Powered
4 2019-05-01 00:01:41.247  36.150973 -86.783109  Powered2TYEF  Powered
5 2019-05-01 00:01:41.247  36.157188 -86.769978  Powered3F3VK  Powered
6 2019-05-01 00:01:41.247  36.154348 -86.784765  PoweredVL7YG  Powered
7 2019-05-01 00:01:41.247  36.158930 -86.775987  Powered5LNUG  Powered
8 2019-05-01 00:01:41.247  36.135993 -86.804226  Powered7SPQQ  Powered
9 2019-05-01 00:01:41.247  36.148938 -86.811256  PoweredBV1DT  Powered

   chargelevel sumdgroup  costpermin companyname
0         93.0   scooter         0.0        Bird
1         35.0   scooter         0.0        Bird
2         90.0   scooter         0.0        Bird
3         88.0   scooter         0.0        Bird
4         98.0   scooter         0.0        Bird
5         82.0   scooter         0.0        Bird
6         56.0   scooter         0.0        Bird
7        100.0   scooter         0.0        Bird
8         85.0   scooter         0.0        Bird
9         65.0   scooter         0.0        Bird

In [20]:
#pubdatetime, latitude, longitude, sumdid, sumdtype, chargelevel, sumdgroup, costpermin, companyname

In [21]:
query = '''
SELECT MIN(pubdatetime), MAX(pubdatetime)
FROM scooters
'''
df = pd.read_sql_query(query, engine)

print(df)

                      min                 max
0 2019-05-01 00:01:41.247 2019-07-31 23:59:57

In [23]:
query = '''
SELECT *
FROM scooters
ORDER BY pubdatetime ASC
LIMIT 5
'''
df = pd.read_sql_query(query, engine)

print(df)

              pubdatetime   latitude  longitude        sumdid sumdtype  \
0 2019-05-01 00:01:41.247  36.191252 -86.772945  PoweredXWRWC  Powered
1 2019-05-01 00:01:41.247  36.144752 -86.806293  PoweredMEJEH  Powered
2 2019-05-01 00:01:41.247  36.162056 -86.774688  Powered1A7TC  Powered
3 2019-05-01 00:01:41.247  36.150973 -86.783109  Powered2TYEF  Powered
4 2019-05-01 00:01:41.247  36.136822 -86.799877  PoweredLIRL1  Powered

   chargelevel sumdgroup  costpermin companyname
0         35.0   scooter         0.0        Bird
1         90.0   scooter         0.0        Bird
2         88.0   scooter         0.0        Bird
3         98.0   scooter         0.0        Bird
4         93.0   scooter         0.0        Bird

In [24]:
query = '''
SELECT *
FROM scooters
ORDER BY pubdatetime DESC
LIMIT 5
'''
df = pd.read_sql_query(query, engine)

print(df)

          pubdatetime   latitude  longitude  \
0 2019-07-31 23:59:57  36.165800 -86.777734
1 2019-07-31 23:59:57  36.155148 -86.785147
2 2019-07-31 23:59:57  36.145955 -86.810232
3 2019-07-31 23:59:57  36.145562 -86.811150
4 2019-07-31 23:59:57  36.158943 -86.777423

                                         sumdid sumdtype  chargelevel  \
0  Powered-751e19ec-b697-a51f-04ea-0bf9a2e125c9  Powered        65.44
1  Powered-5e26df3f-3475-f5dc-4361-86fa55423ff5  Powered        98.36
2  Powered-f4909631-d138-c9ee-cbec-8efc5568b77d  Powered       100.00
3  Powered-23fe9f5f-c8b4-9a26-5514-2d5d10d44dd0  Powered       100.00
4  Powered-d3563566-bcc1-23f7-0b91-c0d1a1efc925  Powered        76.79

  sumdgroup  costpermin companyname
0   Scooter         0.3        Bolt
1   Scooter         0.3        Bolt
2   Scooter         0.3        Bolt
3   Scooter         0.3        Bolt
4   Scooter         0.3        Bolt

In [25]:
query = '''
SELECT COUNT(DISTINCT companyname)
FROM scooters
'''
df = pd.read_sql_query(query, engine)

print(df)

KeyboardInterrupt: